<!DOCTYPE html>
<html>
	<head>
		<title>Drop Sequence</title>
	</head>
	<body>
		<p>{{prompt}}</p>
		<form method="POST" type="multipart/form-data">
			<input type="submit" name="start" value="Start">
			<input type="submit" name="switch" value="Switch titration mode">
			<input type="submit" name="end" value="End">
			<input type="submit" name="refresh" value="Refresh Results">
			<input type="submit" name="clear" value="Clear previous titration data">
		</form>
		<table>
			<tr>
				<th>Volume titrated</th>
				<th>pH</th>
				<th>Delta</th>
				<th>Gradient</th>
			</tr>
			{% for row in titraResult %}
				<tr>
					<td>{{'%0.2f'|format(row[0]|float)}}</td>
					<td>{{'%0.2f'|format(row[1]|float)}}</td>
					<td>{{'%0.2f'|format(row[2]|float)}}</td>
					<td>{{'%0.2f'|format(row[3]|float)}}</td>
				</tr>
			{% endfor %}
		</table>
		{% if fname!="null" %}
		<img src="{{url_for('get_graph',fname=fname)}}">
		{% endif %}
		<p><a href="{{url_for('index')}}">Return to homepage</a></p>
	</body>
</html>