<!DOCTYPE html>
<html>
	<head>
		<title>Laser module calibration</title>
	</head>
	<body>
		<p>{{prompt}}</p>
		<form method="POST" type="multipart/form-data">
			<p>Initial burette reading: <input type="text" id="initial" name="initial"><input type="submit" value="submit"></p>
		</form>
		<form method="POST" type="multipart/form-data">
			<p><input type="submit" name="end" value="end"></p>
		</form>
		<form method="POST" type="multipart/form-data">
			<p>Final burette reading: <input type="text" id="final" name="final"><input type="submit" value="submit"></p>
		</form>
		<a href="{{url_for('index')}}">
	</body>
</html>